workflows/oyXUXhbGbeFOLUUp-sub_clasificar_mensaje.json
{
  "name": "sub_clasificar_mensaje",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "90d4d900-7625-4fd6-8c90-5498b8e821a2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Clasifica el siguiente mensaje según su tema: IT, Legal, Facilities o Otro.\nDevuelve solo una palabra en minúscula.\nDetecta el tema del mensaje\nEjemplo:\nMensaje \"Necesito comprar su producto\".\nTema del mensaje \"Solicitud de compra.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "8bee5dc8-b6f8-4d3f-bf97-2017cb464446",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"categoria\": \"It\",\n\t\"confianza\": \"alta\",\n    \"tema_detectado\": \"solicitud de compra\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        224
      ],
      "id": "fd2f8610-41a2-46b3-9e2f-bd18b52ff2d0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c13709c2-b91f-4474-b221-d54d990dfb2a",
              "name": "categoria",
              "value": "={{ $json.output.categoria }}",
              "type": "string"
            },
            {
              "id": "58d8bb88-b055-49ca-87ad-37a9253adf36",
              "name": "confianza",
              "value": "={{ $json.output.confianza }}",
              "type": "string"
            },
            {
              "id": "706f00ce-5492-4d16-b156-81c363d05f11",
              "name": "tema_detectado",
              "value": "={{ $json.output.tema_detectado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "e84d5e1d-f0b6-45eb-99a5-17edceeaf13f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "68fa8633-160e-42cf-948d-fc773c986b50",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wQt7d1Oc4WW2cWGB",
          "name": "N8n_API"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}