workflows/U910f3PDuW1Fl2O4-sub_enrutado.json
{
  "name": "sub-enrutado",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1X223jeWa6VF8D3AiOkBQYtPAkDyKImjAZ1W6bH_szfI",
          "mode": "list",
          "cachedResultName": "Peticiones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X223jeWa6VF8D3AiOkBQYtPAkDyKImjAZ1W6bH_szfI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X223jeWa6VF8D3AiOkBQYtPAkDyKImjAZ1W6bH_szfI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "usuario": "={{ $('Inicio subflujo').item.json.usuario }}",
            "mensaje": "={{ $('Inicio subflujo').item.json.mensaje }}",
            "fecha": "={{ $('Inicio subflujo').item.json.fecha }}",
            "categoria": "={{ $('Inicio subflujo').item.json.categoria }}",
            "estado": "={{ $('Inicio subflujo').item.json.If_prioridad }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuario",
              "displayName": "usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        1424
      ],
      "id": "9d48edcb-c8ca-44e4-a690-e820b7d54845",
      "name": "Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hJwmWjRB7F47QlBD",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sirius.wlack@gmail.com",
        "subject": "=Nueva peticion -  {{ $('Inicio subflujo').item.json.usuario }}",
        "message": "=Usuario: {{ $('Inicio subflujo').item.json.usuario }}\nMensaje: {{ $('Inicio subflujo').item.json.mensaje }}\nPrioridad: {{ $('Inicio subflujo').item.json.prioridad }}\nFecha: {{ $('Inicio subflujo').item.json.fecha }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        1232
      ],
      "id": "93debf11-31c0-4c5d-a535-857ba3c67e35",
      "name": "Gmail",
      "webhookId": "4317ad46-01ff-45eb-a56e-1194b42e41be",
      "credentials": {
        "gmailOAuth2": {
          "id": "FYLpweg9kUjBH5we",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "33d38140-caf3-8085-9d47-f5a6bdf1f714",
          "mode": "list",
          "cachedResultName": "Legal Request",
          "cachedResultUrl": "https://www.notion.so/33d38140caf380859d47f5a6bdf1f714"
        },
        "title": "={{ $('Inicio subflujo').item.json.ejecution_id }}-{{ $('Inicio subflujo').item.json.usuario }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|rich_text",
              "textContent": "en tramite"
            },
            {
              "key": "Fecha |date",
              "date": "={{ $('Inicio subflujo').item.json.fecha }}"
            },
            {
              "key": "Mensaje|rich_text",
              "textContent": "={{ $('Inicio subflujo').item.json.mensaje }}"
            },
            {
              "key": "Usuario|title",
              "title": "={{ $('Inicio subflujo').item.json.usuario }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        1040
      ],
      "id": "1e12b7e4-7e8e-4a86-a2ec-77a4be5c4707",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "2QSbP9ZQrsAsoirH",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AQYLRKXGX",
          "mode": "list",
          "cachedResultName": "support"
        },
        "text": "=Solicitud de: {{ $('Inicio subflujo').item.json.usuario }}\nCategoría: {{ $json.categoria }}\nMensaje: {{ $('Inicio subflujo').item.json.mensaje }}\nPrioridad: {{ $('Inicio subflujo').item.json.prioridad }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        848
      ],
      "id": "ec26561e-97ec-4017-922a-29e8a8f7ff3e",
      "name": "Slack",
      "webhookId": "a9b0adff-53f5-40fa-b28f-a8de223f0984",
      "credentials": {
        "slackOAuth2Api": {
          "id": "75Id2T0g0sR6dlGA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=Rol: Asistente de Soporte Técnico Profesional.\nInstrucción de Tiempo: Usa la zona horaria America/Bogota (-05:00).\n\nTarea 1 (Calendario): Crea un evento para mañana 2026-04-10.\n\nStart: 2026-04-10T09:00:00-05:00\n\nEnd: 2026-04-10T09:30:00-05:00\nUsa exactamente estos valores para los campos del calendario.\n\nTarea 2 (Gmail): Envía el correo HTML a {{ $json.usuario }} confirmando la cita de las 09:00 AM.\n\nTarea 3 (Cierre): Confirma \"Tarea finalizada\" y detente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1368,
        656
      ],
      "id": "c7139eb1-4c5e-46cb-9592-178452fe9685",
      "name": "AI Agent",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "endpointUrl": "https://lilseniorj.app.n8n.cloud/mcp/herramientas",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1504,
        880
      ],
      "id": "9dccf91c-3eea-4539-b5d8-8b2b2b4ff98b",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "categoria",
              "type": "any"
            },
            {
              "name": "prioridad",
              "type": "any"
            },
            {
              "name": "usuario",
              "type": "any"
            },
            {
              "name": "mensaje",
              "type": "any"
            },
            {
              "name": "ejecution_id",
              "type": "any"
            },
            {
              "name": "fecha",
              "type": "any"
            },
            {
              "name": "If_prioridad",
              "type": "any"
            }
          ]
        }
      },
      "id": "04cc9a3b-d383-4a2f-8535-e92500bf30f9",
      "typeVersion": 1.1,
      "name": "Inicio subflujo",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        576,
        1092
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "it",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1ca93b92-49de-475b-9a23-f5a53a3c2126"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8e020c4a-be45-405a-85f1-520d419a8170",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "legal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Legal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9ec75cb7-2f4c-4921-9aa9-587ed99d9770",
                    "leftValue": "={{ $json.categoria }}",
                    "rightValue": "facilities",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facilities"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        800,
        1060
      ],
      "id": "f300d385-e0c9-4396-933d-93c6eec75467",
      "name": "Redirigir segun la categoria"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b4346467-0269-4f00-a1fa-b058041b1d12",
              "leftValue": "={{ $json.prioridad }}",
              "rightValue": "alta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1024,
        656
      ],
      "id": "965a9ffc-54ae-42c7-92e4-a3e37b4612ef",
      "name": "Filtrar solo urgente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40c70a95-02bc-4399-ba21-063c7fa5e69f",
              "name": "origen",
              "value": "={{ $prevNode.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1432,
        1136
      ],
      "id": "ec576d2e-88b5-40d8-9eaa-809b5344a64b",
      "name": "Extraer origen"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.usuario }}",
        "subject": "Confirmacion de Evento",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<body style=\"margin: 0; font-family: Arial, sans-serif; background-color: #f4f7f6;\">\n    <table align=\"center\" width=\"100%\" style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 15px rgba(0,0,0,0.1); overflow: hidden;\">\n        <!-- Encabezado -->\n        <tr>\n            <td align=\"center\" style=\"background-color: #2c3e50; padding: 30px;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 22px;\">Confirmación de Soporte Técnico</h1>\n            </td>\n        </tr>\n\n        <tr>\n            <td style=\"padding: 30px;\">\n                <h2 style=\"color: #333;\">Hola {{ $json.usuario }},</h2>\n                <p style=\"color: #555; line-height: 1.6;\">Se ha programado una sesión para revisar tu requerimiento: <strong>\"{{ $json.mensaje }}\"</strong>.</p>\n\n                <!-- Bloque de Detalles (Inspirado en tu imagen) -->\n                <div style=\"background-color: #f0f7ff; padding: 20px; border-radius: 8px; margin: 25px 0; border-left: 5px solid #0056b3;\">\n                    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                        <tr>\n                            <td style=\"width: 30px; font-size: 18px; padding-bottom: 10px;\">📅</td>\n                            <td style=\"color: #333; padding-bottom: 10px;\"><strong>Fecha:</strong> {{ $json.fecha }}</td>\n                        </tr>\n                        <tr>\n                            <td style=\"width: 30px; font-size: 18px; padding-bottom: 10px;\">📍</td>\n                            <td style=\"color: #333; padding-bottom: 10px;\"><strong>Modalidad:</strong> Google Meet</td>\n                        </tr>\n                        <tr>\n                            <td style=\"width: 30px; font-size: 18px;\">🔗</td>\n                            <td style=\"color: #333;\"><a href=\"{{ $json.hangoutLink }}\" style=\"color: #0056b3; text-decoration: underline; font-weight: bold;\">Unirse a la videollamada</a></td>\n                        </tr>\n                    </table>\n                </div>\n\n                <!-- Sección de Consejos -->\n                <h3 style=\"color: #2c3e50; font-size: 16px; margin-bottom: 10px;\">🛠️ Consejos previos a la reunión:</h3>\n                <ul style=\"color: #555; font-size: 14px; line-height: 1.6; padding-left: 20px;\">\n                    <li><strong>Reinicio preventivo:</strong> Reinicia tu equipo 10 min antes.</li>\n                    <li><strong>Acceso remoto:</strong> Ten lista la herramienta de asistencia.</li>\n                </ul>\n\n                <!-- Cuadro de Advertencia / Cancelación -->\n                <div style=\"background-color: #fff0f0; border: 1px solid #ffcccc; border-radius: 8px; padding: 15px; margin-top: 25px; text-align: center;\">\n                    <p style=\"color: #D8000C; font-weight: bold; margin: 0; font-size: 15px;\">¡Importante!</p>\n                    <p style=\"color: #666; margin-top: 8px; font-size: 13px; line-height: 1.4;\">\n                        Si solucionas el problema antes de la cita, por favor <strong>cancela el evento</strong> en tu calendario para liberar el espacio.\n                    </p>\n                </div>\n            </td>\n        </tr>\n\n        <!-- Footer -->\n        <tr>\n            <td align=\"center\" style=\"background-color: #f4f7f6; padding: 20px;\">\n                <p style=\"color: #aaaaaa; font-size: 11px; margin: 0;\">Enviado automáticamente por tu Asistente Virtual.</p>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1632,
        880
      ],
      "id": "39868fdf-72cb-41d1-af12-f361759007cd",
      "name": "Gmail mensaje",
      "webhookId": "5ef21804-8380-48a9-a5e8-2caafec80351",
      "credentials": {
        "gmailOAuth2": {
          "id": "FYLpweg9kUjBH5we",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        880
      ],
      "id": "fbee66f8-b7ba-44db-965d-4fd25b9e8131",
      "name": "Salida error",
      "credentials": {
        "googlePalmApi": {
          "id": "UlIXjehvfyOP7EiA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        880
      ],
      "id": "3af756a8-8ade-4e89-9130-63add9d3780b",
      "name": "Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UlIXjehvfyOP7EiA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Slack": {
      "main": [
        [
          {
            "node": "Extraer origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Extraer origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Extraer origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheet": {
      "main": [
        [
          {
            "node": "Extraer origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Inicio subflujo": {
      "main": [
        [
          {
            "node": "Redirigir segun la categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirigir segun la categoria": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtrar solo urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar solo urgente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail mensaje": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salida error": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}