workflows/xRbKFeLqGnJR11t6-Clasificador_Inteligente_de_Leads.json
{
  "name": "Clasificador Inteligente de Leads",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        560
      ],
      "id": "824e058d-b891-48ac-a0c4-37d9c3c3d462",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4ToXnxPpAiIRT4GE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        448
      ],
      "id": "aac614dd-4675-483b-a71b-3e40d34821d7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4ToXnxPpAiIRT4GE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        160
      ],
      "id": "a8b03edc-c2aa-48f4-8c7d-0eb957b54832",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "4ToXnxPpAiIRT4GE",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Lead",
        "formDescription": "I want to buy your product.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone number",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -704,
        336
      ],
      "id": "befeecad-8ca2-498a-9aae-3aa97bf38ef5",
      "name": "Trigger Formulario",
      "webhookId": "c757b69e-37dc-4299-bd59-2b454306aca4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcc875b2-56cf-42bd-9ce0-85a0f9069634",
              "name": "name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "7c47c8c5-6b18-4389-a555-83b205514281",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "60c00017-fa0c-4a38-ba3b-0fc36bc8f9f2",
              "name": "message",
              "value": "={{ $json.Message }}",
              "type": "string"
            },
            {
              "id": "614654e8-a527-42e0-8d30-c00c79276c5c",
              "name": "phone number",
              "value": "={{ $json['Phone number'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        336
      ],
      "id": "1b230989-cfc4-4058-8122-906092af3886",
      "name": "Normalizar Datos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14e36ff7-d2fd-4989-ac2e-bc673d1f2f33",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@platzi.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -256,
        336
      ],
      "id": "a49986d6-3253-4295-8db3-455192c98d03",
      "name": "Excluit @Platzi.com"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Cataloga este mensaje en una de estas opciones: info, demo, compra y soporte.\n\nLa respuesta tiene que ser una categoria en mi minuscula."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        336
      ],
      "id": "c43f8cf6-2b15-4c05-bdd8-e3a2fcac76b4",
      "name": "Clasificar Mensajes"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "demo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bfe1e6d0-d244-4542-83db-a43b635c1ec1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Demo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd3099bb-7ff7-4b1a-b465-1a63542b18f2",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0448431d-1a51-41e9-ae0f-c917513a516d",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "soporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Soporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9be573b1-07c0-4262-9d22-9fe574dc9b0a",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "compra",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compra"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        320,
        304
      ],
      "id": "c2e5ebe5-99d3-4e75-9dbb-f5ddd99da0cb",
      "name": "Ruta por Intención"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AR9GZBCFP",
          "mode": "list",
          "cachedResultName": "sellers"
        },
        "text": "=📩 *Nuevo mensaje recibido*\n\n👤 *Nombre:* {{ $('Normalizar Datos').item.json.name }}\n📧 *Email:* {{ $('Normalizar Datos').item.json.email }}\n📱 *Teléfono:* {{ $('Normalizar Datos').item.json['Phone number'] }}\n\n💬 *Mensaje:*\n{{ $('Normalizar Datos').item.json.message }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        608,
        -160
      ],
      "id": "bb8082ca-72f4-44ad-a850-6d6a9b9b8a64",
      "name": "Notificar Lead Slack",
      "webhookId": "2093fc4e-d704-463d-95d3-d539f5ca54b4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "75Id2T0g0sR6dlGA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar Datos').item.json.email }}",
        "subject": "Aqui tiene la informacion necesaria.",
        "message": "=<p>Hola {{ $('Normalizar Datos').item.json.name }}, 👋</p>\n\n<p>Gracias por tu interés en nuestra plataforma.</p>\n\n<p>📌 Hemos recibido tu solicitud:\n<br>\"{{ $('Normalizar Datos').item.json.message }}\"</p>\n\n<p>ℹ️ Aquí puedes encontrar más información sobre nuestros servicios:</p>\n\n<p>\n  🔗 <a href=\"https://n8n.io\" target=\"_blank\">Visitar página oficial</a>\n</p>\n\n<p>Si tienes alguna pregunta adicional o necesitas ayuda personalizada, no dudes en responder a este mensaje.</p>\n\n<p>Estamos para ayudarte 🙌</p>\n\n<hr>\n\n<p style=\"font-size:12px; color:gray;\">\nEste mensaje fue enviado automáticamente.\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        32
      ],
      "id": "bde75461-d6d2-4037-9274-eecf57d8dce4",
      "name": "Enviar info Gmail",
      "webhookId": "447f06fc-d64b-4932-b0c4-01ea6854793e",
      "credentials": {
        "gmailOAuth2": {
          "id": "FYLpweg9kUjBH5we",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar Datos').item.json.email }}",
        "subject": "Bienvenido a nuestra empresa",
        "message": "=<p>Hola {{ $('Normalizar Datos').item.json.name }}, 👋</p>\n\n<p>¡Nos alegra mucho que quieras ser parte de nuestra plataforma! 🎉</p>\n\n<p>🛒 Hemos recibido tu mensaje:<br>\n\"{{ $('Normalizar Datos').item.json.message }}\"</p>\n\n<p>Uno de nuestros asesores de ventas se pondrá en contacto contigo muy pronto para guiarte en el proceso de compra.</p>\n\n<p>Mientras tanto, puedes conocer más sobre nuestros planes y precios aquí:</p>\n\n<p>🔗 <a href=\"https://n8n.io\" target=\"_blank\">Ver planes y precios</a></p>\n\n<p>Si tienes alguna pregunta, no dudes en responder a este mensaje. ¡Estamos listos para ayudarte! 🙌</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        608,
        816
      ],
      "id": "4d918ae1-96d9-440a-8612-eafa930864bc",
      "name": "Email Bienvenida",
      "webhookId": "447f06fc-d64b-4932-b0c4-01ea6854793e",
      "credentials": {
        "gmailOAuth2": {
          "id": "FYLpweg9kUjBH5we",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AR9GZBCFP",
          "mode": "list",
          "cachedResultName": "sellers"
        },
        "text": "=🛒 *¡Nuevo cliente interesado en comprar!*\n\n👤 *Nombre:* {{ $('Normalizar Datos').item.json.name }}\n📧 *Email:* {{ $('Normalizar Datos').item.json.email }}\n📱 *Teléfono:* {{ $('Normalizar Datos').item.json['phone number'] }}\n\n💬 *Mensaje:*\n{{ $('Normalizar Datos').item.json.message }}\n\n✅ *Acción requerida:* Contactar al cliente lo antes posible para cerrar la venta.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        608,
        624
      ],
      "id": "c52048d4-c1b0-4e4e-a28e-0835f1aa0ac4",
      "name": "Notificar Compra Slack",
      "webhookId": "2093fc4e-d704-463d-95d3-d539f5ca54b4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "75Id2T0g0sR6dlGA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        816
      ],
      "id": "593d3ae5-4915-466e-889d-f40418ef0dde",
      "name": "Esperar",
      "webhookId": "e9d8620b-7f32-4bf2-b6fd-7c75694a9a6b"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AS748A22C",
          "mode": "list",
          "cachedResultName": "jesusvarguer18"
        },
        "text": "=Hola, recuerda hacer el seguimiento de {{ $('Normalizar Datos').item.json.name }}\n\n📧 *Email:* {{ $('Normalizar Datos').item.json.email }}\n📱 *Teléfono:* {{ $('Normalizar Datos').item.json['phone number'] }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1184,
        816
      ],
      "id": "1160859f-5af1-4a2f-935d-37bdfb1e17de",
      "name": "Recordar Seguimiento",
      "webhookId": "2093fc4e-d704-463d-95d3-d539f5ca54b4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "75Id2T0g0sR6dlGA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ARCDKQ5AS",
          "mode": "list",
          "cachedResultName": "aggressive-client"
        },
        "text": "=🚨 CLIENTE AGRESIVO DETECTADO\n\n👤 Nombre: {{ $('Normalizar Datos').item.json.name }}\n📧 Email: {{ $('Normalizar Datos').item.json.email }}\n📱 Teléfono: {{ $('Normalizar Datos').item.json['phone number'] }}\n\n💬 Mensaje del cliente:\n\"{{ $('Normalizar Datos').item.json.message }}\"\n\n⚠️ Nivel de riesgo: ALTO\n😡 Estado del cliente: Molesto / Frustrado\n\n🔥 Acción inmediata:\n- Responder lo antes posible\n- Usar tono empático y calmado\n- Evitar respuestas automáticas frías\n- Priorizar solución rápida\n\n⏱️ Tiempo máximo de respuesta: INMEDIATO\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1184,
        576
      ],
      "id": "543130fb-5932-4f28-ab15-f536bad287ee",
      "name": "Alerta Soporte Agresivo",
      "webhookId": "2093fc4e-d704-463d-95d3-d539f5ca54b4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "75Id2T0g0sR6dlGA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AQYLRKXGX",
          "mode": "list",
          "cachedResultName": "support"
        },
        "text": "=🚨 *CLIENTE NECESITA ATENCIÓN*\n\n👤 Nombre: {{ $('Normalizar Datos').item.json.name }}\n📧 Email: {{ $('Normalizar Datos').item.json.email }}\n📱 Teléfono: {{ $('Normalizar Datos').item.json['phone number'] }}\n\n💬 Mensaje del cliente:\n\"{{ $('Normalizar Datos').item.json.message }}\"\n\n⚠️ Acción requerida:\nContactar al cliente lo antes posible y brindar solución.\n\n⏱️ Tiempo sugerido: inmediato",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1184,
        336
      ],
      "id": "ce1e0af8-6d2d-453c-8ba2-cd49850f5a3e",
      "name": "Alerta Soporte Negativo",
      "webhookId": "2093fc4e-d704-463d-95d3-d539f5ca54b4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "75Id2T0g0sR6dlGA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalizar Datos').item.json.message }}",
        "options": {
          "systemMessage": "Genera una respuesta con el nombre del cliente en modo texto que solucione el problema del cliente.\nSi es genérico, pregúntale cómo le podemos ayudar y que nos dé más detalles."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        -80
      ],
      "id": "db9718c0-1481-4e54-b3ed-1b993e947f1e",
      "name": "Generar Respuesta IA"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalizar Datos').item.json.email }}",
        "subject": "Le atenderemos lo antes posible.",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>¡Bienvenido a nuestra plataforma!</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f0f4f8; font-family: Georgia, 'Times New Roman', serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f0f4f8;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 40px 20px;\">\n\n        <!-- CONTENEDOR PRINCIPAL -->\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px; width:100%; background-color:#ffffff; border-radius:16px; overflow:hidden; box-shadow: 0 8px 40px rgba(0,0,0,0.10);\">\n\n          <!-- CABECERA CON GRADIENTE -->\n          <tr>\n            <td style=\"background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%); padding: 0;\">\n              \n              <!-- Franja decorativa superior -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td style=\"height:6px; background: linear-gradient(90deg, #f7971e, #ffd200, #f7971e);\"></td>\n                </tr>\n              </table>\n\n              <!-- Contenido cabecera -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td align=\"center\" style=\"padding: 48px 40px 36px 40px;\">\n\n                    <!-- Ícono o logo -->\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td align=\"center\" style=\"background-color: rgba(255,255,255,0.08); border: 2px solid rgba(255,210,0,0.4); border-radius: 50%; width:72px; height:72px; font-size:32px; line-height:72px; text-align:center;\">\n                          🏆\n                        </td>\n                      </tr>\n                    </table>\n\n                    <p style=\"margin: 20px 0 6px 0; font-size:13px; letter-spacing:4px; text-transform:uppercase; color:#ffd200; font-family: Arial, sans-serif; font-weight:700;\">\n                      Confirmación de Compra\n                    </p>\n\n                    <h1 style=\"margin: 0 0 12px 0; font-size:36px; font-weight:700; color:#ffffff; line-height:1.2; font-family: Georgia, serif;\">\n                      ¡Ya eres parte<br>de la familia! 🎉\n                    </h1>\n\n                    <p style=\"margin:0; font-size:16px; color:rgba(255,255,255,0.70); font-family: Arial, sans-serif; line-height:1.6;\">\n                      Tu compra fue procesada exitosamente.<br>Esto es solo el comienzo.\n                    </p>\n\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Franja decorativa inferior cabecera -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td style=\"height:4px; background: linear-gradient(90deg, transparent, rgba(255,210,0,0.5), transparent);\"></td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <!-- BADGE DE ÉXITO -->\n          <tr>\n            <td align=\"center\" style=\"padding: 32px 40px 0 40px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td style=\"background-color:#e8f5e9; border: 1.5px solid #a5d6a7; border-radius:50px; padding: 10px 24px;\">\n                    <span style=\"font-family: Arial, sans-serif; font-size:14px; color:#2e7d32; font-weight:700;\">\n                      ✅ &nbsp;Pago confirmado — Acceso activado\n                    </span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- SALUDO PERSONALIZADO -->\n          <tr>\n            <td style=\"padding: 32px 48px 8px 48px;\">\n              <p style=\"margin:0; font-size:18px; color:#1a1a2e; font-family: Georgia, serif; line-height:1.7;\">\n                Hola <strong>{{ $('Normalizar Datos').item.json.name }}</strong>, 👋\n              </p>\n            </td>\n          </tr>\n\n          <!-- DIVISOR -->\n          <tr>\n            <td style=\"padding: 0 48px;\">\n              <hr style=\"border:none; border-top: 1.5px solid #e8edf2; margin: 16px 0;\">\n            </td>\n          </tr>\n\n          <!-- CUERPO DEL MENSAJE -->\n          <tr>\n            <td style=\"padding: 8px 48px 32px 48px; font-family: Arial, sans-serif; font-size:15px; color:#444; line-height:1.8;\">\n              {{ $json.output }}\n            </td>\n          </tr>\n\n          <!-- TARJETA CTA -->\n          <tr>\n            <td style=\"padding: 0 48px 40px 48px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background: linear-gradient(135deg, #0f2027, #2c5364); border-radius:12px; overflow:hidden;\">\n                <tr>\n                  <td style=\"padding: 28px 32px;\">\n                    <p style=\"margin:0 0 6px 0; font-size:13px; letter-spacing:3px; text-transform:uppercase; color:#ffd200; font-family: Arial, sans-serif; font-weight:700;\">\n                      Siguiente paso\n                    </p>\n                    <p style=\"margin:0 0 20px 0; font-size:18px; color:#ffffff; font-family: Georgia, serif; font-weight:700; line-height:1.4;\">\n                      Accede ahora a tu cuenta y empieza a explorar todo lo que tenemos para ti.\n                    </p>\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td style=\"background-color:#ffd200; border-radius:8px; padding:0;\">\n                          <a href=\"#\" style=\"display:inline-block; padding:14px 32px; font-family: Arial, sans-serif; font-size:15px; font-weight:700; color:#1a1a2e; text-decoration:none; letter-spacing:0.5px;\">\n                            Ir a mi cuenta &rarr;\n                          </a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- 3 BENEFICIOS -->\n          <tr>\n            <td style=\"padding: 0 48px 40px 48px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <!-- Beneficio 1 -->\n                  <td width=\"30%\" align=\"center\" style=\"padding: 20px 12px; background-color:#f8fafc; border-radius:10px; border:1px solid #e8edf2;\">\n                    <p style=\"margin:0 0 8px 0; font-size:26px;\">⚡</p>\n                    <p style=\"margin:0; font-family: Arial, sans-serif; font-size:12px; font-weight:700; color:#1a1a2e; text-transform:uppercase; letter-spacing:1px;\">Acceso<br>inmediato</p>\n                  </td>\n                  <td width=\"4%\"></td>\n                  <!-- Beneficio 2 -->\n                  <td width=\"30%\" align=\"center\" style=\"padding: 20px 12px; background-color:#f8fafc; border-radius:10px; border:1px solid #e8edf2;\">\n                    <p style=\"margin:0 0 8px 0; font-size:26px;\">🛡️</p>\n                    <p style=\"margin:0; font-family: Arial, sans-serif; font-size:12px; font-weight:700; color:#1a1a2e; text-transform:uppercase; letter-spacing:1px;\">Soporte<br>prioritario</p>\n                  </td>\n                  <td width=\"4%\"></td>\n                  <!-- Beneficio 3 -->\n                  <td width=\"30%\" align=\"center\" style=\"padding: 20px 12px; background-color:#f8fafc; border-radius:10px; border:1px solid #e8edf2;\">\n                    <p style=\"margin:0 0 8px 0; font-size:26px;\">🔄</p>\n                    <p style=\"margin:0; font-family: Arial, sans-serif; font-size:12px; font-weight:700; color:#1a1a2e; text-transform:uppercase; letter-spacing:1px;\">Actuali-<br>zaciones</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- FIRMA -->\n          <tr>\n            <td style=\"padding: 0 48px 32px 48px;\">\n              <p style=\"margin:0; font-family: Georgia, serif; font-size:15px; color:#444; line-height:1.8;\">\n                Con mucho gusto,<br>\n                <strong style=\"color:#1a1a2e;\">El equipo de soporte</strong>\n              </p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f0f4f8; padding: 24px 48px; border-top: 1.5px solid #e8edf2;\">\n              <p style=\"margin:0; font-family: Arial, sans-serif; font-size:11px; color:#999; text-align:center; line-height:1.7;\">\n                Este mensaje fue enviado automáticamente a <strong>{{ $('Normalizar Datos').item.json.email }}</strong><br>\n                Si tienes dudas, responde a este correo o visita nuestro centro de ayuda.<br><br>\n                © 2026 Tu Empresa. Todos los derechos reservados.\n              </p>\n            </td>\n          </tr>\n\n        </table>\n        <!-- FIN CONTENEDOR PRINCIPAL -->\n\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        32
      ],
      "id": "d6f37993-c0a5-467d-9be5-89c61a8294cc",
      "name": "Confirmar Cliente",
      "webhookId": "447f06fc-d64b-4932-b0c4-01ea6854793e",
      "credentials": {
        "gmailOAuth2": {
          "id": "FYLpweg9kUjBH5we",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IlilvOYiQikPcjfUXk2svJy3UKogD4vsUH1pthRTK4s",
          "mode": "list",
          "cachedResultName": "Cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IlilvOYiQikPcjfUXk2svJy3UKogD4vsUH1pthRTK4s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IlilvOYiQikPcjfUXk2svJy3UKogD4vsUH1pthRTK4s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Normalizar Datos').item.json.name }}",
            "Email": "={{ $('Normalizar Datos').item.json.email }}",
            "Telefono": "={{ $('Normalizar Datos').item.json['phone number'] }}",
            "Fecha de indenciencia": "={{ $('Trigger Formulario').item.json.submittedAt }}",
            "Error del cliente": "={{ $('Normalizar Datos').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de indenciencia",
              "displayName": "Fecha de indenciencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error del cliente",
              "displayName": "Error del cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        32
      ],
      "id": "ee1ec1cb-a60c-40e2-b6c7-8d17fe786a1d",
      "name": "Guardar en Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hJwmWjRB7F47QlBD",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6d13f553-0057-4db0-a477-3a7f3a0664be",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Positive",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Positive"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a168191-87ce-4868-9ff5-bf5a0171408b",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Negative",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Negative"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "676adc0d-58fe-4d5e-91a0-725c9d2ba8c7",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Aggressive",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Aggressive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        304
      ],
      "id": "d9141d6a-7bbe-4ff7-96ff-49fca417fb86",
      "name": "Ruta por sentimiento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the text and respond ONLY with a valid JSON object with no extra text: {\"sentiment\": \"Positive\", \"Negative\", or \"Aggressive\", \"confidence\": 0.0 to 1.0}\n\n{{ $('Normalizar Datos').item.json.message }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $('Normalizar Datos').item.json.message }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        144
      ],
      "id": "2023db6a-362c-4978-af83-6f441129da48",
      "name": "Analizar Sentimiento"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificar Mensajes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analizar Sentimiento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generar Respuesta IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Formulario": {
      "main": [
        [
          {
            "node": "Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Datos": {
      "main": [
        [
          {
            "node": "Excluit @Platzi.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluit @Platzi.com": {
      "main": [
        [
          {
            "node": "Clasificar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Mensajes": {
      "main": [
        [
          {
            "node": "Ruta por Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta por Intención": {
      "main": [
        [
          {
            "node": "Notificar Lead Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar info Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analizar Sentimiento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Compra Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Bienvenida": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Recordar Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Respuesta IA": {
      "main": [
        [
          {
            "node": "Confirmar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Cliente": {
      "main": [
        [
          {
            "node": "Guardar en Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta por sentimiento": {
      "main": [
        [
          {
            "node": "Generar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Soporte Negativo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Soporte Agresivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar Sentimiento": {
      "main": [
        [
          {
            "node": "Ruta por sentimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "svigOfWrpf5Gp2xb",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}